
body {
    font-family: Poppins ;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #303000, black);
  }

  .header {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
  }

  .logo {
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    padding-top:50px;
  }

  .header span {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffee00;
    border-radius: 5px;
    margin: 10px;
  }

  .search-box {
    padding: 10px;
    border: 1px solid #eeff01;
    border-radius: 5px;
    width: 200px; 
  }

  @media (max-width: 768px) {
    .header span {
      display: block;
      margin: 10px;
    }

    .search-box {
      width: 50%; 
    }
    .card {
        flex: 0 0 calc(82% - 10px);
    }

  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 12px;      
    justify-content: center;
    
  }

  .card {
    flex: 0 0 calc(22% - 10px);
    background-color:yellow;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card figcaption {
    margin-top: 2px;
    text-align: center; 
    padding: 5px 10px; /* Added padding */
    border-radius: 5px; /* Added border radius */
    font-size: 14px; /* Added font size */
  }

  .card:hover {
transform: scale(1.05); /* Increase size slightly on hover */
transition: transform 0.5s ease; /* Add a smooth transition effect */
}
a{text-decoration: none;
color: white;}

a:hover {
color: #eeff01;
}
